.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #111;
  gap: 2rem;
}

.logo {
  display: inline-flex;
  height: 32px;
  align-items: center;
}
