-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."User" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Cars" (
    "id" SERIAL NOT NULL,
    "carNumber" INTEGER NOT NULL,
    "driverId" INTEGER NOT NULL,
    "driverFirstName" TEXT NOT NULL,
    "driverLastName" TEXT NOT NULL,
    "teamId" INTEGER,
    "teamName" TEXT,
    "teamLogo" TEXT,
    "carImage" TEXT,
    "flagImage" TEXT,
    "championshipId" INTEGER NOT NULL,

    CONSTRAINT "Cars_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Championships" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "logo" TEXT,
    "serverName" TEXT,
    "serverPass" TEXT,
    "leagueJoinQr" TEXT,

    CONSTRAINT "Championships_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Countries" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "imageUrl" TEXT,
    "shortName" TEXT NOT NULL,

    CONSTRAINT "Countries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Drivers" (
    "id" SERIAL NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "country" INTEGER,

    CONSTRAINT "Drivers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Races" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "round" INTEGER NOT NULL,
    "laps" INTEGER NOT NULL,
    "mins" INTEGER NOT NULL,
    "trackId" INTEGER,
    "trackMap" TEXT,
    "trackLogo" TEXT,
    "raceDateTime" TIMESTAMP(3) NOT NULL,
    "tyres" TEXT[],
    "championshipId" INTEGER NOT NULL,

    CONSTRAINT "Races_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Penalty" (
    "id" SERIAL NOT NULL,
    "carId" INTEGER NOT NULL,
    "raceId" INTEGER NOT NULL,
    "points" INTEGER NOT NULL,

    CONSTRAINT "Penalty_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Teams" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "shortName" TEXT NOT NULL,
    "logoUrl" TEXT,
    "country" INTEGER,

    CONSTRAINT "Teams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ModItems" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "carClass" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "image" TEXT,
    "logo" TEXT,
    "url" TEXT,
    "released" BOOLEAN NOT NULL DEFAULT false,
    "releaseDate" TIMESTAMP(3),
    "specs" JSONB,
    "features" JSONB,
    "screenshots" JSONB,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ModItems_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Authors" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "url" TEXT,

    CONSTRAINT "Authors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ModItemsAuthors" (
    "id" SERIAL NOT NULL,
    "itemId" INTEGER NOT NULL,
    "authorId" INTEGER NOT NULL,
    "role" TEXT NOT NULL,

    CONSTRAINT "ModItemsAuthors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ModdingTeams" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "shortName" TEXT NOT NULL,
    "logo" TEXT,
    "backgroundColor" TEXT,
    "url" TEXT,
    "textColor" TEXT,

    CONSTRAINT "ModdingTeams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ModItemsModdingTeams" (
    "id" SERIAL NOT NULL,
    "itemId" INTEGER NOT NULL,
    "teamId" INTEGER NOT NULL,

    CONSTRAINT "ModItemsModdingTeams_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Races_championshipId_round_key" ON "public"."Races"("championshipId", "round");

-- CreateIndex
CREATE INDEX "ModItems_released_releaseDate_idx" ON "public"."ModItems"("released", "releaseDate");

-- CreateIndex
CREATE INDEX "ModItems_carClass_name_idx" ON "public"."ModItems"("carClass", "name");

-- AddForeignKey
ALTER TABLE "public"."Cars" ADD CONSTRAINT "Cars_championshipId_fkey" FOREIGN KEY ("championshipId") REFERENCES "public"."Championships"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Races" ADD CONSTRAINT "Races_championshipId_fkey" FOREIGN KEY ("championshipId") REFERENCES "public"."Championships"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Penalty" ADD CONSTRAINT "Penalty_carId_fkey" FOREIGN KEY ("carId") REFERENCES "public"."Cars"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ModItemsAuthors" ADD CONSTRAINT "ModItemsAuthors_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "public"."Authors"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ModItemsAuthors" ADD CONSTRAINT "ModItemsAuthors_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "public"."ModItems"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ModItemsModdingTeams" ADD CONSTRAINT "ModItemsModdingTeams_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES "public"."ModItems"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ModItemsModdingTeams" ADD CONSTRAINT "ModItemsModdingTeams_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES "public"."ModdingTeams"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

