.teams {
  display: flex;
  gap: .5rem;
  margin: 0 0 1rem;
}

.team {
  border-radius: 6px;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  display: inline-flex;
}

.teamLogo {
  object-fit: contain;
  border-radius: 4px;
  width: 1.5rem;
  height: 1.5rem;
  padding: .1rem;
}
